@font-face {
	font-family: Causten-Regular;src: url(/public/fonts/Causten/Causten-Regular.otf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Causten-Medium;src: url(/public/fonts/Causten/Causten-Medium.otf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Causten-SemiBold;src: url(/public/fonts/Causten/Causten-SemiBold.otf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Causten-Bold;src: url(/public/fonts/Causten/Causten-Bold.otf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Causten-Black;src: url(/public/fonts/Causten/Causten-Black.otf) format('truetype'); font-style: normal; font-display: swap;
}

@font-face {
	font-family: Coresans-Light;src: url(/public/fonts/Core-Sans/Coresans-Light.ttf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Coresans-Regular;src: url(/public/fonts/Core-Sans/Coresans-Regular.ttf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Coresans-Medium;src: url(/public/fonts/Core-Sans/Coresans-Medium.ttf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Coresans-Bold;src: url(/public/fonts/Core-Sans/Coresans-Bold.ttf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Coresans-ExtraBold;src: url(/public/fonts/Core-Sans/Coresans-ExtraBold.ttf) format('truetype'); font-style: normal; font-display: swap;
}
@font-face {
	font-family: Coresans-Heavy;src: url(/public/fonts/Core-Sans/Coresans-Heavy.ttf) format('truetype'); font-style: normal; font-display: swap;
}