@import "./style/fonts.scss";

body {
  margin: 0;
}

* {
  font-family: "Causten-Medium", sans-serif;
  font-size: clamp(15px, 1.25vw, 20px);
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
