@import "../../style/mixins.scss";

.b-cat-cards {
    width: var(--block-width);
    margin: max(5vw, 30px) auto;

    &:not(:last-of-type) {
        margin-bottom: 0;
    }

    &_title {
        @include titleLine;
    }

    &_list {
        display: grid;
        @include gridTemplate;
    }

    &_item {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        position: relative;

        &:hover {

            .b-cat-cards_image {
                box-shadow: var(--box-shadow);
                transition: box-shadow 0.3s;
            }

            svg {
                animation: arrow 1s ease-in-out infinite;
            }
        }
    }

    &_image {
        @include cardImage;
    }

    &_name {
        font-family: Coresans-Bold, sans-serif;
        font-size: 1rem;
        text-transform: capitalize;
        margin: 30px 0 10px;
    }

    &_desc {
        font-family: Coresans-Regular, sans-serif;
        font-size: 0.8rem;
        color: #7F7F7F;
    }

    svg {
        width: 7%;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 20px;
    }
}

@keyframes arrow {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-15px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
